.about {
  padding: 4rem 1rem;
  background-image: url('/about.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: left;
}

.about-container {
  max-width: 700px;
  margin: 0 auto;
  background: #f0e9e98a;
  border-radius: 10px;
}

.about h2 {
  text-align: center;
  margin-bottom: 1rem;
  color:#38ac8f;
  font-size: 1.7rem;
  /* background-color: #38ac8f; */
}

.about-section {
  margin-bottom: 1rem;
}

.about-section h3 {
  color:#ffffff;
  margin-bottom: 1rem;
  background: #38ac8f;
  text-align: center;
 
}

.about-section p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;

}

.about-section ul {
  list-style: disc;
  padding-left: 20px;
}
